{% extends "main-navbar.html" %}
{% block content %}
<style>
    .companies-container{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        color: #000;
        font-family: Helvetica;
        display: flex;
    }
    .swal2-popup {
        font-family: Helvetica;
    }
    .main-1{
        width: 70%;
    }
    .main-2{
        width: 30%;
        padding: 15px;        
    }
    .button{
        background-color:#30b618;
        text-decoration: none;
        padding: 20px 10px;
        font-family: Helvetica;
        font-size: 20px;
        color: #fff;
        border-radius: 15px;
    }
    .add-company-container{
        align-items: center;
        display: flex;
        border-radius: 15px;
        background-color: #f6f6f6;
        border: 1px solid #000;
        padding: 0px 15px 0px 15px;
    }
    .table{
        background-color: transparent;
        width: 70%;
        margin-bottom: 15px;
        font-size: 0.9em;
        border-spacing: 0;
        border-collapse: collapse; }
        table th,
        table td {
            padding: 15px;
            line-height: 1.5;
            vertical-align: top;
            font-size: 1.5em;
            border: 1px solid #cccccc; }
        table th {
            font-weight: bold;            
        }
        table thead th,
        table tfoot th {
            font-size: 1.5em; }
        table caption + thead tr:first-child th,
        table caption + thead tr:first-child td,
        table caption + thead tr:first-child th,
        table caption + thead tr:first-child td,
        table colgroup + thead tr:first-child th,
        table colgroup + thead tr:first-child td,
        table colgroup + thead tr:first-child th,
        table colgroup + thead tr:first-child td,
        table thead:first-child tr:first-child th,
        table thead:first-child tr:first-child td,
        table thead:first-child tr:first-child th,
        table thead:first-child tr:first-child td {
            border-top: 1px solid #cccccc; }
        table tbody > tr:nth-child(odd) > td,
        table tbody > tr:nth-child(odd) > th {
            background-color: #f7f7f7; }
        table tbody tr:hover > td,
        table tbody tr:hover > th {
            background-color: #e9e9e9; }
        table tbody + tbody {
            border-top: 2px solid #cccccc; }
        @media (max-width: 767px) {
            table table {
            font-size: 1.5em; }
            table table th,
            table table td {
                padding: 7px;
                line-height: 1.3; }
            table table th {
                font-weight: 400; } 
    }
    .company-edit{
        text-decoration: none;
        text-align: center;
        color: #fff;
        padding: 7px;
        border-radius: 5px;
        background-color:#30b618
    }
</style>
<div class="companies-container">
    <div class="main-1">
        <div>
            {% if has_lines %}
                <h1 style="margin: 10px 0px 10px 10px;">Lineas</h1>
                <table class="table">
                    <tbody>
                        {% for line in lines %}
                            <tr>                            
                                <td><p class="company-name">Linea {{ line.name }}</p></td>
                                <td style="text-align: center;">
                                    <a href="/editline/{{line.id}}" class="company-edit">Editar</a>
                                    <a class="company-edit" onclick="deleteCompany();" style="background-color:#b61827;" cursor="pointer;">Eliminar </a>
                                    <input type="hidden" id="deleteCity" value="{{line.id}}">
                                </td>
                            </tr>                        
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1 style="margin: 10px 0px 10px 10px;">No hay Lineas</h1>
            {% endif %}
        </div>
    </div>
    <div class="main-2">
        <div style="display:flex;justify-content: right;">
            <a href="/cities/{{user.id}}" class="button" style="padding: 15px 30px;">volver ⮌</a>
        </div>
        <div style="padding-top: 15px">
            <div class="add-company-container">
                <div>
                    <h1>Agregar Lineas:</h1>
                </div>
                <div>
                    <a href="/addline/{{relation.id}}" class="button">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function Redirect() {
        var value = document.getElementById("deleteCity").value;
        window.location = "/line/delete/"+value;
    }
    function deleteCompany(){
        Swal.fire({
            title: '¿Estas Seguro?',
            text: "¡Los cambios no son reversibles!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar',
            cancelButtonText: 'Cancelar'
            }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                '¡Eliminado!',
                'La Linea fue eliminada.',
                'success'
                ).then(Redirect);
            }
            })
    }
</script>
{% endblock content %}