{% extends "main-navbar.html" %}
{% block content %}
<style>
    .companies-container{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        color: #000;
        font-family: Helvetica;
        display: flex;
    }
    .main-1{
        width: 100%;
    }
    .button{
        background-color:#30b618;
        text-decoration: none;
        padding: 10px;
        font-family: Helvetica;
        font-size: 20px;
        color: #fff;
        border-radius: 15px;
    }
    .add-company-container{
        border-radius: 15px;
        background-color: #f6f6f6;
        border: 1px solid #000;
        padding: 0px 15px 25px 15px;
    }
    .table{
        background-color: transparent;
        width: 100%;
        margin-bottom: 15px;
        font-size: 0.9em;
        border-spacing: 0;
        border-collapse: collapse; }
        table th,
        table td {
            padding: 15px;
            line-height: 1.5;
            vertical-align: top;
            font-size: 1.5em;
            border: 1px solid #cccccc; }
        table th {
            font-weight: bold;            
        }
        table thead th,
        table tfoot th {
            font-size: 1.5em; }
        table caption + thead tr:first-child th,
        table caption + thead tr:first-child td,
        table caption + thead tr:first-child th,
        table caption + thead tr:first-child td,
        table colgroup + thead tr:first-child th,
        table colgroup + thead tr:first-child td,
        table colgroup + thead tr:first-child th,
        table colgroup + thead tr:first-child td,
        table thead:first-child tr:first-child th,
        table thead:first-child tr:first-child td,
        table thead:first-child tr:first-child th,
        table thead:first-child tr:first-child td {
            border-top: 1px solid #cccccc; }
        table tbody > tr:nth-child(odd) > td,
        table tbody > tr:nth-child(odd) > th {
            background-color: #f7f7f7; }
        table tbody tr:hover > td,
        table tbody tr:hover > th {
            background-color: #e9e9e9; }
        table tbody + tbody {
            border-top: 2px solid #cccccc; }
        @media (max-width: 767px) {
            table table {
            font-size: 1.5em; }
            table table th,
            table table td {
                padding: 7px;
                line-height: 1.3; }
            table table th {
                font-weight: 400; } 
    }
    .company-edit{
        text-decoration: none;
        text-align: center;
        color: #fff;
        padding: 7px;
        border-radius: 5px;
        background-color:#30b618
    }
</style>
<div class="companies-container">
    <div class="main-1">
        <div>
            {% if has_cities %}
                <div style="display: flex; align-items: center; justify-content: space-between; padding: 15px 0px">
                    <h1 style="margin: 10px 0px 10px 10px;">Ciudades</h1>
                    <div>
                        <a href="/main-company" class="button" style="padding: 15px 30px;">volver ⮌</a>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                        {% for city in cities %}
                            <tr>                            
                                <td><p class="company-name">Ciudad {{ city.name }}</p></td>
                                <td style="text-align: center;">
                                    <a href="verify/{{city.relation_id}}" class="company-edit">Ver Lineas</a>
                                    <a href="editcompany/{{city.relation_id}}" class="company-edit" style="background-color:#b61827;">Eliminar</a>
                                </td>
                            </tr>                        
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h1 style="margin: 10px 0px 10px 10px;">No hay Empresas</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}